@charset "UTF-8";

body
{
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

a
{
    color: blue;
    text-decoration: none;
}

#pager a
{
    display: block;
    float: left;
    background: #36BBCE;
    height: 30px;
    min-width: 30px;
    border: 1px solid #015965;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    color: black;
}

#pager a
{
    border-right: none;
}

#pager a.active
{
    font-weight: bold;
    color: white;
}

#pager a:last-of-type
{
    border: 1px solid #015965;
}


#pager a:hover
{
    background: #5FC0CE;
}

#pager
{
}

.clear
{
    clear: both;
}

#gallery
{
    /*margin-top: 30px;*/
}
